.profile-card {
  position: relative;
  margin: 0 2vw;  /* Space between cards */
  cursor: pointer;
  width: 200px;    /* Fixed width */
  height: 200px;   /* Fixed height */
  text-decoration: none;
}

.profile-card:hover .image-container {
  border: 3px solid #ffffff;
}

.profile-card:hover .profile-name {
  color: #ffffff;
}

.image-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
  border: 3px solid transparent;
  transition: border-color 0.2s ease;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name {
  color: #666666;
  display: block;
  font-size: 20px !important;
  text-align: center;
  margin: 20px 0 0 0;
  transition: color 0.2s ease;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .profile-card {
    flex-wrap: wrap;
    width: 40vw;
    height: 40vw;
    cursor: pointer;
  }

  .profile-name {
    font-size: 14px
  }
}